<!--
*  profile.html 
*  @version: 1.0.0
*  @author: Universidad Politecnica - kath
*  @description: Carga academica vista para generar el PDF
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="public/css/style.css"></link>
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="./public/fontawesome/css/all.css">
    <title>SEE - Carga acádemica</title>
    <link rel="shortcut icon" href="">
</head>
<body>
    <div class="main flex">
        <div class="column carga-academica-pdf full">
            <div class="row-responsive">
                   
                <div class="column full">
                    <div class="white-space-24"></div>
                    <div class="justify-center">
                        <div class="row-responsive container-data">
                            <div class="column full">
                                <table class="table-responsivze table-datos-alumno ">
                                        <tr>
                                            <th class="bg-lightBlue color-white weight-bold">Matricula</th>
                                            <td class="weight-bold">201600103</td>
                                        </tr>
                                        <tr>
                                            <th class="bg-lightBlue color-white weight-bold">Alumno</th>
                                            <td class="weight-bold">Jordi ENP</td>
                                        </tr>
                                        <tr>
                                            <th class="bg-lightBlue color-white weight-bold">Plan de estudios</th>
                                            <td class="weight-bold">02B ING. SOFTWARE BRZZ-2013</td>
                                        </tr>
                                        <tr>
                                            <th class="bg-lightBlue color-white weight-bold">Periodo</th>
                                            <td class="weight-bold">MAY-AGO 19-09</td>
                                        </tr>
                                </table>
                                <div class="white-space-24"></div>
                                <div class="table-responsive">
                                <table class="table-academic-charge">
                                    <thead>
                                        <tr>
                                            <th class="weight-bold">Clave</th>
                                            <th class="weight-bold">Materia</th>
                                            <th class="weight-bold">CR</th>
                                            <th class="weight-bold">Docente</th>
                                            <th class="weight-bold">Lunes</th>
                                            <th class="weight-bold">Martes</th>
                                            <th class="weight-bold">Miercoles</th>
                                            <th class="weight-bold">Jueves</th>
                                            <th class="weight-bold">Viernes</th>
                                        </tr>
                                    </thead>
                                    <tbody class="capitalize">
                                        <tr>
                                            <td> ADM </td>
                                            <td> Administracion </td>
                                            <td> 05 </td>
                                            <td> CRISTHIAN DE JESUS </td>
                                            <td>  </td>
                                            <td> 07:00-07:50 A-14 </td>
                                            <td>  </td>
                                            <td>  </td>
                                            <td>  </td>
                                        </tr>
                                        <tr>
                                            <td> ADM </td>
                                            <td> Algebra lineal </td>
                                            <td> 05 </td>
                                            <td> CRISTHIAN DE JESUS DOMINGUEZ VILLEGAS </td>
                                            <td>  </td>
                                            <td> 07:00-07:50 A-14 </td>
                                            <td>  </td>
                                            <td>  </td>
                                            <td>  </td>
                                        </tr>
                                        <tr>
                                            <td> ADM </td>
                                            <td> Bases de datos </td>
                                            <td> 05 </td>
                                            <td> MARIANO XIU CHAN </td>
                                            <td> 07:00-07:50 A-14 </td>
                                            <td>  </td>
                                            <td>  </td>
                                            <td>  </td>
                                            <td>  </td>
                                        </tr>
                                        <tr>
                                            <td> ADM </td>
                                            <td> Calidad del software </td>
                                            <td> 05 </td>
                                            <td> RODOLFO RIVAS CHAVOYA </td>
                                            <td>  </td>
                                            <td>  </td>
                                            <td>  </td>
                                            <td>  </td>
                                            <td> 07:00-07:50 A-14 </td>
                                        </tr>
                                        <tr>
                                            <td> ADM </td>
                                            <td> Ecuaciones diferenciales </td>
                                            <td> 05 </td>
                                            <td> CARLOS MARTIN TAMAY GOMEZ </td>
                                            <td>  </td>
                                            <td>  </td>
                                            <td>  </td>
                                            <td> 07:00-07:50 A-14 </td>
                                            <td>  </td>
                                        </tr>
                                        <tr>
                                            <td> ADM </td>
                                            <td> Estancias II </td>
                                            <td> 05 </td>
                                            <td> CINTHIA ARACELI CHUC OXTE	 </td>
                                            <td>  </td>
                                            <td> 07:00-07:50 A-14 </td>
                                            <td>  </td>
                                            <td>  </td>
                                            <td>  </td>
                                        </tr>
                                        <tr>
                                            <td> ADM </td>
                                            <td> Habilidades organizacionales </td>
                                            <td> 05 </td>
                                            <td> MANUEL ALEJANDRO FLORES BARRERA	 </td>
                                            <td>  </td>
                                            <td>  </td>
                                            <td> 07:00-07:50 A-14 </td>
                                            <td>  </td>
                                            <td>  </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                                </div>
                                <div class="white-space-32"></div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="white-space-24"></div>
                    <div class="justify-center">
                            <div class="row-responsive container-data">
                                <div class="column full">
                                        <table class="table-responsivze table-datos-alumno ">
                                                <tr>
                                                    <th class="bg-lightBlue color-white weight-bold">Matricula</th>
                                                    <td class="weight-bold">201600103</td>
                                                </tr>
                                                <tr>
                                                    <th class="bg-lightBlue color-white weight-bold">Alumno</th>
                                                    <td class="weight-bold">Jordi ENP</td>
                                                </tr>
                                                <tr>
                                                    <th class="bg-lightBlue color-white weight-bold">Plan de estudios</th>
                                                    <td class="weight-bold">02B ING. SOFTWARE BRZZ-2013</td>
                                                </tr>
                                                <tr>
                                                    <th class="bg-lightBlue color-white weight-bold">Periodo</th>
                                                    <td class="weight-bold">MAY-AGO 19-09</td>
                                                </tr>
                                            </table>
                                    <div class="white-space-24"></div>
                                    <div class="table-responsive">
                                    <table class="table-academic-charge">
                                        <thead>
                                            <tr>
                                                <th class="weight-bold">Clave</th>
                                                <th class="weight-bold">Materia</th>
                                                <th class="weight-bold">CR</th>
                                                <th class="weight-bold">Docente</th>
                                                <th class="weight-bold">Lunes</th>
                                                <th class="weight-bold">Martes</th>
                                                <th class="weight-bold">Miercoles</th>
                                                <th class="weight-bold">Jueves</th>
                                                <th class="weight-bold">Viernes</th>
                                            </tr>
                                        </thead>
                                        <tbody class="capitalize">
                                            <tr>
                                                <td> ADM </td>
                                                <td> Administracion </td>
                                                <td> 05 </td>
                                                <td> CRISTHIAN DE JESUS </td>
                                                <td>  </td>
                                                <td> 07:00-07:50 A-14 </td>
                                                <td>  </td>
                                                <td>  </td>
                                                <td>  </td>
                                            </tr>
                                            <tr>
                                                <td> ADM </td>
                                                <td> Algebra lineal </td>
                                                <td> 05 </td>
                                                <td> CRISTHIAN DE JESUS DOMINGUEZ VILLEGAS </td>
                                                <td>  </td>
                                                <td> 07:00-07:50 A-14 </td>
                                                <td>  </td>
                                                <td>  </td>
                                                <td>  </td>
                                            </tr>
                                            <tr>
                                                <td> ADM </td>
                                                <td> Bases de datos </td>
                                                <td> 05 </td>
                                                <td> MARIANO XIU CHAN </td>
                                                <td> 07:00-07:50 A-14 </td>
                                                <td>  </td>
                                                <td>  </td>
                                                <td>  </td>
                                                <td>  </td>
                                            </tr>
                                            <tr>
                                                <td> ADM </td>
                                                <td> Calidad del software </td>
                                                <td> 05 </td>
                                                <td> RODOLFO RIVAS CHAVOYA </td>
                                                <td>  </td>
                                                <td>  </td>
                                                <td>  </td>
                                                <td>  </td>
                                                <td> 07:00-07:50 A-14 </td>
                                            </tr>
                                            <tr>
                                                <td> ADM </td>
                                                <td> Ecuaciones diferenciales </td>
                                                <td> 05 </td>
                                                <td> CARLOS MARTIN TAMAY GOMEZ </td>
                                                <td>  </td>
                                                <td>  </td>
                                                <td>  </td>
                                                <td> 07:00-07:50 A-14 </td>
                                                <td>  </td>
                                            </tr>
                                            <tr>
                                                <td> ADM </td>
                                                <td> Estancias II </td>
                                                <td> 05 </td>
                                                <td> CINTHIA ARACELI CHUC OXTE	 </td>
                                                <td>  </td>
                                                <td> 07:00-07:50 A-14 </td>
                                                <td>  </td>
                                                <td>  </td>
                                                <td>  </td>
                                            </tr>
                                            <tr>
                                                <td> ADM </td>
                                                <td> Habilidades organizacionales </td>
                                                <td> 05 </td>
                                                <td> MANUEL ALEJANDRO FLORES BARRERA	 </td>
                                                <td>  </td>
                                                <td>  </td>
                                                <td> 07:00-07:50 A-14 </td>
                                                <td>  </td>
                                                <td>  </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                    </div>
                                    <div class="white-space-32"></div>
                                   
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>